extends layout

block content
  h1= title

  - let palaceid = toShow._id
  - let palacename = toShow.palacename
  - let location = toShow.location
  - let constructed_year = toShow.constructed_year
  div
    div.row
      div(class='palaceAttr mr-3') palace ID is:
      div #{palaceid}
    div.row
      div(class='palaceAttr mr-3') palacename is:
      div #{palacename}
    div.row
      div(class='palaceAttr mr-3') location is:
      div #{location}
    div.row
      div(class='palaceAttr mr-3') constructed_year is:
      div #{constructed_year}



